
# install libraries

## Accessing Yahoo Financial Data

In [1]:
pip install --upgrade pandas-datareader

### Compatability with Yahoo API Version
Yahoo made changes to their API that broke compatibility with previous pandas datareader versions.

In [ ]:
pip install git+https://github.com/raphi6/pandas-datareader.git@ea66d6b981554f9d0262038aef2106dda7138316

## Load Yahoo Ticker Data

In [8]:
import pandas_datareader.data as pdr
from datetime import datetime
import yfinance as yf
yf.pdr_override()
y_symbols = ['SCHAND.NS', 'TATAPOWER.NS', 'ITC.NS']
startdate = datetime(2022,12,1)
enddate = datetime(2022,12,15)
data = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)
print(data)

[*********************100%%**********************]  3 of 3 completed
             Adj Close                                Close              \
                ITC.NS   SCHAND.NS TATAPOWER.NS      ITC.NS   SCHAND.NS
Date
2022-12-01  332.231262  193.808853   222.775269  339.549988  195.949997
2022-12-02  329.882996  194.451767   223.171570  337.149994  196.600006
2022-12-05  329.491608  188.962402   222.131256  336.750000  191.050003
2022-12-06  330.029724  194.253937   226.688812  337.299988  196.399994
2022-12-07  332.769409  185.302841   223.766037  340.100006  187.350006
2022-12-08  331.106049  179.862946   222.973419  338.399994  181.850006
2022-12-09  334.041382  174.967010   217.375549  341.399994  176.899994
2022-12-12  335.802612  175.412109   215.691238  343.200012  177.350006
2022-12-13  338.150879  176.500076   216.830627  345.600006  178.449997
2022-12-14  337.955139  177.192429   220.645096  345.399994  179.149994

                               High                                  Low  \
           TATAPOWER.NS      ITC.NS   SCHAND.NS TATAPOWER.NS      ITC.NS
Date
2022-12-01   224.850006  341.700012  201.899994   227.149994  336.799988
2022-12-02   225.250000  340.799988  198.649994   226.350006  336.750000
2022-12-05   224.199997  338.850006  200.899994   225.850006  334.149994
2022-12-06   228.800003  338.200012  197.449997   230.300003  334.100006
2022-12-07   225.850006  341.500000  198.000000   229.600006  336.649994
2022-12-08   225.050003  342.149994  187.850006   227.300003  337.500000
2022-12-09   219.399994  342.500000  185.350006   226.500000  338.000000
2022-12-12   217.699997  344.000000  185.350006   219.750000  340.100006
2022-12-13   218.850006  346.000000  184.600006   220.300003  342.399994
2022-12-14   222.699997  347.350006  181.199997   223.199997  343.750000

                                           Open                           \
             SCHAND.NS TATAPOWER.NS      ITC.NS   SCHAND.NS TATAPOWER.NS
Date
2022-12-01  190.000000   223.600006  341.700012  191.600006   225.250000
2022-12-02  193.100006   223.850006  339.350006  196.000000   225.449997
2022-12-05  183.000000   222.350006  337.649994  200.850006   225.250000
2022-12-06  190.350006   223.500000  334.100006  191.000000   224.199997
2022-12-07  184.000000   225.399994  338.500000  198.000000   228.800003
2022-12-08  178.550003   224.800003  340.200012  186.000000   226.000000
2022-12-09  175.000000   217.500000  339.750000  183.899994   225.899994
2022-12-12  173.300003   215.699997  341.000000  177.750000   219.750000
2022-12-13  177.600006   217.800003  344.500000  179.350006   218.800003
2022-12-14  178.000000   219.399994  346.000000  180.449997   219.800003

              Volume
              ITC.NS SCHAND.NS TATAPOWER.NS
Date
2022-12-01  16630417    544485      7833074
2022-12-02   8388835    122126      7223274
2022-12-05   9716390    107294     10750610
2022-12-06   6327430    102911     20071039
2022-12-07   9813208    122772      7548312
2022-12-08   6200447    114147      7507975
2022-12-09   8132228    179660     13087278
2022-12-12  11214662    133507      8858525
2022-12-13  10693426     74873      7265105
2022-12-14   7379878     32085      9179593

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2022-12-01 to 2022-12-14
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   (Adj Close, ITC.NS)        10 non-null     float64
 1   (Adj Close, SCHAND.NS)     10 non-null     float64
 2   (Adj Close, TATAPOWER.NS)  10 non-null     float64
 3   (Close, ITC.NS)            10 non-null     float64
 4   (Close, SCHAND.NS)         10 non-null     float64
 5   (Close, TATAPOWER.NS)      10 non-null     float64
 6   (High, ITC.NS)             10 non-null     float64
 7   (High, SCHAND.NS)          10 non-null     float64
 8   (High, TATAPOWER.NS)       10 non-null     float64
 9   (Low, ITC.NS)              10 non-null     float64
 10  (Low, SCHAND.NS)           10 non-null     float64
 11  (Low, TATAPOWER.NS)        10 non-null     float64
 12  (Open, ITC.NS)             10 non-null     float64
 13  (Open, SCHAND.NS)          10 non-null     float64
 14  (Open, TATAPOWER.NS)       10 non-null     float64
 15  (Volume, ITC.NS)           10 non-null     int64
 16  (Volume, SCHAND.NS)        10 non-null     int64
 17  (Volume, TATAPOWER.NS)     10 non-null     int64
dtypes: float64(15), int64(3)
memory usage: 1.5 KB